{% extends 'base.html' %}
{% block content %}
<br>
<br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha de Entrada</th>
            <th scope="col">Motivo</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
          
            {% for usuario in usuarios %}
          <tr>
            <td>{{ usuario['nombre'] }}</td>
            <td><span class="badge badge-primary">{{ usuario['created'] }}</span></td>
            <td>{{ usuario['content'] }}</span></td>
            <td>  <a href="{{ url_for('edit', id=usuario['id']) }}">
                <span class="btn btn-warning">Edit</span>
            </a></td>
          </tr>
          {% endfor %}
         
        </tbody>
      </table
      {% endblock %}
